table.minimalistBlack {
	border: 1px solid #000000;
	width: 75%;
	text-align: center;
	border-collapse: collapse;
	margin-top: 1% !important;
}
table.minimalistBlack td,
table.minimalistBlack th {
	border: 1px solid #000000;
	padding: 5px 4px;
}
table.minimalistBlack tbody td {
	font-size: 13px;
	vertical-align: middle;
}
table.minimalistBlack thead {
	background: #cfcfcf;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
	background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
	background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
	border-bottom: 1px solid #000000;
}
table.minimalistBlack thead th {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.wf_image_speaker {
	width: 30px !important;
	margin-left: 3%;
	background-color: white;
}

.center {
	margin: 0 auto !important;
}

.heading{
	font-size: x-large;
	color: #d71e28;
	margin-left: 13%;
	text-decoration: underline;
}

.name-speaker {
	width: 100px;	
	display: flex;
}

.speaker{
	width: 100px;	
	display: inline;
}

.buttons {
	width: 100px;	
	display: flex;
}
	
.action_btn_primary {
	width: 100px;	
	display: inline;
	background-color: #299656;
	border: solid 1px;
	color: #ffff;
	cursor: pointer;
}

.action_btn_danger {
	width: 200px;
	margin: 0 auto;
	display: inline;
	background-color: #d71e28;
	margin-top: 2% !important;
	margin-left: 1% !important;
	border: solid 1px;
	color: #ffff;
	cursor: pointer;
	margin-left: 71% !important;
}

.action_btn_primary:disabled,
.action_btn_primary[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.action_btn_danger:disabled,
.action_btn_danger[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
