.tab-pane {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}
.modal .form-group {
	margin-bottom: 1.2rem;
	margin-top: 1.2rem;
}
.modal .form-group label {
	margin-bottom: 0.6rem;
}

.modal .form-control input[type="file"] {
	display: block !important;
}
.tab-pane .play-icon {
	font-size: 1.4rem;
}
.tab-pane .play-icon svg {
	fill: #fff;
}
.tab-pane .play-icon svg:hover {
	cursor: pointer;
}

.tab-pane .play-icon button:hover {
	background: #da343c;
}

.tab-pane .play-icon button:active,
.tab-pane .play-icon button:focus {
	background: #da343c;
}

.tab-pane.active h2 {
	margin: 3rem 0;
}
audio {
	filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
	width: 100%;
	height: 25px;
}
