.wf_container-profile--left .wf_profile_img-container {
	height: 26rem;
	width: 100%;
}
.wf_container-profile--left .wf_profile_img-container .wf_profile-img {
	border-radius: 0;
}
.wf_container-profile--left .wf_profile-heading,
.wf_container-profile--right .wf_profile-heading {
	display: flex;
	align-items: flex-end;
	margin: 3rem 0 1.2rem 0;
}
.wf_container-profile--left .wf_profile-heading h4,
.wf_container-profile--right .wf_profile-heading h4 {
	margin-right: 0.5rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	margin-bottom: 0;
}
.wf_profile-heading .wf_hrline {
	flex: 2;
}

.wf_container-profile--right {
	padding-left: 4.2rem;
	padding-right: 4.2rem;
}

.wf_image_speaker {
	width: 30px !important;
	margin-left: 3%;
	background-color: white;
}

.wf_container-profile--right .wf_name_designation {
	font-size: 1.6rem;
	margin-top: 1%;
	color: #d71e28;
}

.wf_container-profile--right .wf_profile-name {
	font-size: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wf_container-profile--right .wf_profile-name span {
	flex: 2;
}
.wf_container-profile--right .wf_profile-name a {
	font-size: 1.4rem;
	text-decoration: none;
	padding-left: 3.5rem;
}
.wf_container-profile--right .wf_profie-syllables {
	display: flex;
	align-items: center;
}
.wf_container-profile--right .wf_profie-syllables span {
	font-style: italic;
	padding-right: 1.4rem;
	font-size: 1.6rem;
}
.wf_container-profile--right .wf_profie-syllables svg {
	fill: #424141;
}
.wf_container-profile--right .wf_profie-syllables svg:hover {
	cursor: pointer;
}
.wf_container-profile--left .wf_profile-content p,
.wf_container-profile--right .wf_profile-content p {
	margin-bottom: 0.8rem;
}

.wf_search-text-width {
	flex: 1;
}

.wf_search-text-search {
	width: 20% !important;
	margin-left: 50%;
}

.email-msg {
	margin-left: 80%;
	font-size: 1.2rem;
	color: #d71e28;
}
