.wf_container-profile--left .wf_profile_img-container {
	height: 26rem;
	width: 100%;
}
.wf_container-profile--left .wf_profile_img-container .wf_profile-img {
	border-radius: 0;
}
.wf_container-profile--left .wf_profile-heading {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 3rem 0;
}
.wf_container-profile--left .wf_profile-heading h4 {
	margin-right: 8px;
	font-size: 1.2rem;
}

.wf_container-profile--right {
	padding-left: 4.2rem;
}

.wf_image_speaker{
	width: 30px !important;
	margin-left: 3%;
	background-color: white;
}

.wf_name_designation{
	font-size: x-small;
    margin-top: 1%;
	color: #d71e28;
}

.wf-information-margin-top{
	margin-top: 1% !important;
}

.wf-about-me-margin-top{
	margin-top: 4% !important;
}


.wf-about-me-subheading{
	font-style: italic;
}

.wf_container-profile--right-sub {
	padding-left: .2rem;
}

.wf-about-me-margin-top-phone{
	margin-top: 16% !important;
}

.wf-about-me-margin-top-address{
	margin-top: 2% !important;
}

.wf-address-width{
	width: 18%;
}

.wf-about-me-margin-top-hobbies{
	margin-top: 2% !important;
}

.opt-out{
	margin-top: 2% !important;
	margin-left: 90% !important;
	cursor: pointer;
	background-color: #d71e28;
	color: #ffff;
}

.opt-in{
	margin-top: 2% !important;
	margin-left: 88% !important;
	cursor: pointer;
	background-color: #299656;
}

.buttons {
	width: 200px;	
	display: flex;
}
	
.action_btn_primary {
	width: 200px;	
	display: inline;
	background-color: #299656;
	border: solid 1px;
	color: #ffff;
	cursor: pointer;
}

.action_btn_danger {
	width: 200px;
	margin: 0 auto;
	display: inline;
	background-color: #d71e28;
	margin-top: 2% !important;
	margin-left: 1% !important;
	border: solid 1px;
	color: #ffff;
	cursor: pointer;
}

.action_btn_primary:disabled,
.action_btn_primary[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.action_btn_danger:disabled,
.action_btn_danger[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}