.wf_audio-recorder {
	max-width: 53.5rem;
	background-color: #f4f0ed;
	padding: 5rem 1rem 1rem 1rem;
}
.wf_audio-recorder-controls .wf_btn {
	width: 4.6rem;
	height: 4.6rem;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wf_audio-recorder-controls .wf_btn svg {
	fill: #fff;
}
