.wf_header {
	height: 5rem;
	max-height: 5rem;
	background-color: #d71e28;
	border-bottom: 4px solid #ffcd41;
	padding: 0 5rem;
	color: #fff;
}
.wf_header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wf_logo {
	font-size: 3.2rem;
	padding: 11px 0;
}
.wf_profile {
	height: 4rem;
	width: 4rem;
}
.wf_profile-img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.wf_profile-img:hover {
	cursor: pointer;
}
